/* Global */

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

ul {
    list-style-type: none;
}

/* Header */

header {
    background-color: #ffffff;
}

.header-logo {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo span {
    color: #2e2f42;
}

.header-list-item,
.header-address-item {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.header-list-item {
    color: #2e2f42;
}

.header-list a:hover,
.header-list a:focus,
.header-address a:hover,
.header-address a:focus {
    color: #404bbf;
}

.header-address a {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}

/* Main */

.hero {
    background-color: #2e2f42;
    color: #fff;
}

.hero-title {
    color: #ffffff;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.hero-btn {
    font-family: "Roboto", sans-serif;
    border-radius: 4px;
    padding: 16px 32px;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.4s;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}

.about-section {
    background-color: #fff;
}

.about-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.about-desc {
    line-height: 150%;
    letter-spacing: 0.02em;
}

.team-section {
    background-color: #f4f4fd;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-skill {
    line-height: 150%;
    letter-spacing: 0.02em;
}

.portfolio-section {
    background-color: #fff;
}

.portfolio-item {
    background-color: #ffffff;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2e2f42;
}

.portfolio-category {
    line-height: 1.5;
}

/* Footer */

footer {
    background: #2e2f42;
}

.footer-logo {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo span {
    color: #f4f4fd;
}

.footer-text {
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
